.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import '~antd/dist/antd.css';
body {
  overflow-x: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding-bottom: 60px;
}

.movlist{
  cursor: pointer;
}

.poster {
  border-radius: 10px;
  cursor: pointer;
}

.poster:hover {
  cursor: pointer;
}

.titlePopular {
  padding-top: 50px;
  padding-left: 240px;
  padding-bottom: 20px;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    filter: brightness(25%);
  }
  
@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.content {
  position: fixed;
  color: #fff;
}

.navbar1 {
  position: absolute;
  z-index: 9999;
  left: 20px;
}

.navbar3 {
  position: absolute;
  z-index: 9999;
  right: 20px;
  top: 10px;
}

.navbar2 {
  position: absolute;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10px;
  text-align: center;
}


.searchInput {
  background-color: transparent;
  border: 2px solid red;
  border-radius: 20px;
  width: 500px;
  padding-left: 20px;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sbmt{
  border: 1px solid red;
}


.link {
  margin-right: 10px;
  color: rgb(213, 213, 213);
  border: 1px solid red;
  border-radius: 20px;
  padding: 5px 10px;
}

.link:hover {
  color: red;
}


.navsearch {
  margin-left: -40px;
  color: white;
  size: 100px;
}

.searchInput {
  width: 250px !important;
}

::placeholder {
  color: #B0B0B0;
  opacity: 1;
}

.buttonWatch {
  font-weight: bold;
  display: flex;
}

.crslTitle {
  font-weight: bold;
  color: white;
  padding-top: 180px;
  padding-left: 20px;
  font-size: 40px;
}

.crslOverview {
  color: white;
  padding-left: 20px;
  width: 800px;
}

.crslWatch {
  margin-top: 20px;
  margin-left: 20px;
}

.detailTitle {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  padding-top: 180px;
}

.detailGenre {
  display: inline-block;
  padding-right: 5px;
}

.detailOverview {
  width: 800px;
}

.star {
  color: orange;
  padding-right: 5px;
}

.buttonWatchDetail {
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
.searchInput {
  width: 500px !important;
}

}
